<form name="contact" netlify-honeypot="bot-field" method="POST" action="thank-you" netlify>
    <p class="hidden"><label>Don’t fill this out if you're human: <input name="bot-field"></label></p>
    <input class="confirm" type="hidden" name="confirm"  /><input class="location" type="hidden" name="location"  /><input class="referrer" type="hidden" name="referrer"  />
    <div class="form-group">
    <p><input class="subscribe-email" type="text" name="name"  placeholder="Ваше Ім'я:"></p>
  <p><input class="subscribe-email" type="email" name="email"  placeholder="Ваш Email:"></p>
  <p><textarea class="subscribe-email" name="message"  placeholder="Повідомлення:"></textarea></p>     <div data-netlify-recaptcha></div>
   <div class="form-group">
        <button class="" type="submit" {% unless site.contasts %}disabled{% endunless %}><span>Надіслати</span></button>
    </div>

    <script type="text/javascript">(function(g,h,o,s,t){h[o]('.location')[s]=h[o]('.location')[s] || g.location.href;h[o]('.referrer')[s]=h[o]('.referrer')[s] || h.referrer;})(window,document,'querySelector','value');</script>
</form>