<ul class="nav" role="menu">
    <li class="nav-home" role="menuitem"><a href="{{site.baseurl}}">Головна</a></li>
    <li class="nav-news" role="menuitem"><a href="{{site.baseurl}}tag/Новини/">Новини</a></li>
    <li class="nav-teacher" role="menuitem"><a href="{{site.baseurl}}tag/Тьютор/">Тьютори</a></li>
    <li class="nav-gurtok" role="menuitem"><a href="{{site.baseurl}}tag/Гуртки/">Гуртки</a></li>
    <li class="nav-gurtok" role="menuitem"><a href="{{site.baseurl}}tag/Портфоліо/">Портфоліо</a></li>
    <li class="nav-about" role="menuitem"><a href="{{site.baseurl}}about/">Про нас</a></li>
</ul>
