<nav class="pagination" role="pagination">
    {% if paginator.previous_page %}{% if paginator.previous_page == 1 %}
            <a class="newer-posts" href="{{ site.baseurl }}" title="Свіжі події">&laquo; Нові записи</a>{% else %}
            <a class="newer-posts" href="{{ site.baseurl }}page{{ paginator.previous_page }}/" title="Свіжі події">&laquo; Нові записи</a>{% endif %}
    {% endif %}
    <span class="page-number"> Сторінка {{ paginator.page }} з {{ paginator.total_pages }} </span>
    {% if paginator.next_page %}
        <a class="older-posts nextjsc" href="{{ site.baseurl }}page{{ paginator.next_page }}/" title="Попередні новини">Старіші записи &raquo;</a>
    {% endif %}
</nav>
